<!DOCTYPE html>
<html>
<head>

    <partial name="Partial/_MetaTags" />

    <partial name="Partial/_Styles" />
    <partial name="Partial/_StylesIntro" />

    @await RenderSectionAsync("head", required: false)

</head>
<body>
    <a id="RT_Brand" href="@Url.Action("Index", "Home")" class="navbar-brand align-top">
        <span id="logo_box_intro" class="custom-success">
            <span id="logo_character" class="rt-logo-character">R</span>
        </span>
    </a>

    <partial name="Partial/_CookieConsentPartial" />

    <nav id="RT_Nav_Intro" class="navbar fixed-top navbar-expand-sm navbar-light shadow-none">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#RT_navbar_Intro" aria-controls="RT_navbar_Intro" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="RT_navbar_Intro" class="collapse navbar-collapse">
                <partial name="Partial/_Navbar" />
                <partial name="Partial/_LoginPartial" />
            </div>
        </div>

        <div id="logo_line_intro" class="line-success"></div>
    </nav>

    @await RenderSectionAsync("SidebarMenu", required: false)

    <div id="container-content" class="container">

        @RenderBody()

        <partial name="Partial/_DisplayTextModal" />

        <partial name="Partial/_Footer" />

    </div>

    <partial name="Partial/_MainScripts" />

    @await RenderSectionAsync("Scripts", required: false)

    <environment include="Development">
        <script src="~/js/introduction.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/introduction.min.js" asp-append-version="true"></script>
    </environment>
</body>
</html>
