
@{
    ViewData["Title"] = "How";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">How to practice a single text project with RememberText [Sub]</h5>
                <p class="card-text">To a Historian (Whalt Whitman).</p>
            </div>
            <div class="text-center mb-2">
                <iframe width="500" height="315" src="https://www.youtube.com/embed/7uhJO5Gnfas" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">How to practice a paired texts project with RememberText [Sub]</h5>
                <p class="card-text">The tenses of a number of Swedish verbs.</p>
                @*<p class="card-text">Video tutorial will be added soon.</p>*@
            </div>
            <div class="text-center mb-2">
                <iframe width="500" height="315" src="https://www.youtube.com/embed/xr7m7qgXRLk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">How to practice questions and answers with RememberText 1 [Sub]</h5>
                <p class="card-text">Put the verbs in the correct tense.</p>
            </div>
            <div class="text-center mb-2">
                <iframe width="500" height="315" src="https://www.youtube.com/embed/DlfxQogtxTc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">How to practice a questions and answers with RememberText 2 [Sub]</h5>
                <p class="card-text">Driver knowledge test questions.</p>
            </div>
            <div class="text-center mb-2">
                <iframe width="500" height="315" src="https://youtube.com/embed/xTIyy4SCg6M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">How to publish a project on RememberText</h5>
                @*<p class="card-text">Driver knowledge test questions.</p>*@
            </div>
            <div class="text-center mb-2">
                <iframe width="500" height="315" src="https://youtube.com/embed/7-JdqpTEmPo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

