
@{
    ViewData["Title"] = "Why Remember Text";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Why Remember Text?</h2>

<div class="row mt-3">
    <div class="col-sm-3">
        <div class="card border-primary">
            <div class="card-body">
                <p>
                    This web application serves as an aid to memorizing textual information. Obviously,
                    information may be memorized by means of different methods:
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-warning">
            <div class="card-body">
                <p>
                    For instance, writing a text by hand on a sheet of paper is considered to be an effective
                    method for memorizing. When writing by hand, the brain is forced to process information in
                    a detailed way, which supports the learning process. Some people find it easier to remember
                    information in combination with images, while others write information on cards which are
                    discarded as they are memorized.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card border-success">
            <div class="card-body">
                <p>
                    Remember Text suggests memorizing information by repeatedly writing what needs to be remembered.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-6">
        <div class="card border-secondary">
            <div class="card-body">
                <p>
                    When saving a text that needs to be memorized (or text with its translation, or questions and
                    answers etc.) it will appear on the training page. Here, the text you need to learn (or the
                    questions to which you want to memorize answers) will be hidden, which allows you to practice
                    recreating the necessary text sentence by sentence in the input field.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card border-info">
            <div class="card-body">
                <p>
                    By assigning a tag to this text, you sort the saved information into sections. All your
                    tags/sections will be available to you in the left pull-out menu.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card border-warning">
            <div class="card-body">
                <p>
                    If you enter a wrong character, the logo to the left will change color and show you the
                    correct character or the correct contents of the blank space.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-3">
        <div class="card border-info">
            <div class="card-body">
                <p>
                    By repeating this procedure several times, it is impossible not to remember the information.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-light">
            <div class="card-body">
                <p>
                    Nothing prevents you from also using your associative images while studying with your information
                    on this website, in different conditions, in different places, or writing the text first by hand,
                    and then moving it to your account on Remember Text. Nothing will be superfluous, each repetition
                    will help strengthen the neural connections.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card border-danger">
            <div class="card-body">
                <p>
                    Each training is a step towards achieving your goal.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-3">
        <div class="card border-success">
            <div class="card-body">
                <p>
                    All exercises you create will always be accessible to you on the internet.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-warning">
            <div class="card-body">
                <p>
                    You can also open your text or exercise for all users by publishing it, but there is a significant
                    limitation, namely copyright. You cannot publish exercises consisting of copyrighted material.
                    You can read about copyright in Wikipedia or at the webpage of the U.S. Copyright Office. We urge
                    you to adhere to copyright legislation.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <p>
                    The web application's design is adaptive, so it will be convenient to work with it on a PC with a
                    large screen, and on a laptop or tablet, as well as on a smartphone.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-4">
        <div class="card border-dark">
            <div class="card-body">
                <p>
                    If you have any comments or suggestions for the functionalities of this web application, please
                    <a asp-action="Message" asp-controller="Home">let us know</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card border-primary">
            <div class="card-body">
                <p>
                    We also have plans to develop a mobile or desktop application that depends on donations. (You can
                    also contribute to the development of this application by making financial contributions, thereby
                    speeding up the development process, up to the involvement of additional developers, we already
                    have several ideas for developing the application, creating new functions, but you can also write
                    wishes, what functions you would like to add to the site, or what specific developments you would
                    like to send your contribution to).
                </p>
            </div>
        </div>
    </div>
</div>
