#Hide_Intro_Box {
    opacity: 0;
    -moz-animation:  Fade-in 1s ease-out 5s forwards;
    -webkit-animation: Fade-in 1s ease-out 5s forwards;
    animation: Fade-in 1s ease-out 5s forwards;
    position:absolute;
    z-index: 1040;
}
#Hide_Intro_Box a {
    color: #999999;
    color: rgba(153, 153, 153, 0.4);
    border-color: #999999;
    border-color: rgba(153, 153, 153, 0.4);
}
#Hide_Intro_Box a:hover {
    color: #666;
    color: rgba(153, 153, 153, 1);
    border-color: #666;
    border-color: rgba(153, 153, 153, 1);
}

#RT_Nav_Intro {
    background-color: #fff;
}
#RT_Nav_Intro.rt-show {
    -moz-animation: Paint-menu 1s ease-out 1s forwards;
    -webkit-animation: Paint-menu 1s ease-out 1s forwards;
    animation: Paint-menu 1s ease-out 1s forwards;
}
#logo_box_intro {
    background-image: url('../images/RememberTextWhite.png');
    background-repeat: no-repeat;
    background-size: cover;
    -moz-border-radius: 3px; /*Firefox*/
    -webkit-border-radius: 3px; /*Safari, Chrome*/
    border-radius: 3px;
    height: 0;
    position: fixed;
    top: 0;
    min-width: 70px;
    z-index: 2040;
}
    #logo_box_intro.rt-show {
        -moz-animation: Open-logo 1s ease-in 1s forwards;
        -webkit-animation: Open-logo 1s ease-in 1s forwards;
        animation: Open-logo 1s ease-in 1s forwards;
    }
#RT_navbar_Intro {
    opacity: 0;
}
#RT_navbar_Intro.rt-show {
    -moz-animation: Fade-in 2s ease-out 1s forwards;
    -webkit-animation: Fade-in 2s ease-out 1s forwards;
    animation: Fade-in 2s ease-out 1s forwards;
}
#logo_line_intro {
    bottom: 0;
    left: 0;
    min-width: 0;
    position: absolute;
    z-index: -1;
}
#logo_line_intro.rt-show {
    -moz-animation: Open-right 1s linear 2s forwards;
    -webkit-animation: Open-right 1s linear 2s forwards;
    animation: Open-right 1s linear 2s forwards;
}

#ProjectsBox, label.rt-nav-toggle {
    opacity: 0;
}
    #ProjectsBox.rt-show, label.rt-nav-toggle.rt-show {
        -moz-animation: Fade-in 3s ease 1s forwards;
        -webkit-animation: Fade-in 3s ease 1s forwards;
        animation: Fade-in 3s ease 1s forwards;
    }

label.rt-nav-toggle.rt-show {
}

#RT_Footer {
    opacity: 0;
}

#RT_Footer.rt-show {
    -moz-animation: Fade-in 3s ease-out 1s forwards;
    -webkit-animation: Fade-in 3s ease-out 1s forwards;
    animation: Fade-in 3s ease-out 1s forwards;
}
/* Introduction START */
.curtain {
    min-height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    min-width: 100%;
    z-index: 2;
}
#FirstSentence {
    opacity: 0;
    -moz-animation: Fade-in 2s ease-out 1s forwards;
    -webkit-animation: Fade-in 2s ease-out 1s forwards;
    animation: Fade-in 2s ease-out 1s forwards;
}
#Curtain_1 {
    -moz-animation: CurtainToLeft 2s ease-out 3s forwards;
    -webkit-animation: CurtainToLeft 2s ease-out 3s forwards;
    animation: CurtainToLeft 2s ease 3s forwards;
}
#Curtain_2{
    background:rgb(255,255,255);
    -moz-animation: CurtainToLeftAndUp 6s ease 3s forwards;
    -webkit-animation: CurtainToLeftAndUp 6s ease 3s forwards;
    animation: CurtainToLeftAndUp 6s ease 3s forwards;
}
#Curtain_4{
    background:rgb(255,255,255);
    -moz-animation: CurtainUpAndRight 5s ease-in-out 7s forwards;
    -webkit-animation: CurtainUpAndRight 5s ease-in-out 7s forwards;
    animation: CurtainUpAndRight 5s ease 7s forwards;
}
#Curtain_3{
    background:rgb(255,255,255);
    -moz-animation: CurtainToRightAndUp 8s ease 9s forwards;
    -webkit-animation: CurtainToRightAndUp 8s ease 9s forwards;
    animation: CurtainToRightAndUp 8s ease 9s forwards;
}
#Curtain_5 {
    background: rgb(255,255,255);
    -moz-animation: CurtainToRightAndUp 5s ease-in 10s forwards;
    -webkit-animation: CurtainToRightAndUp 5s ease-in 10s forwards;
    animation: CurtainUpAndLeft 6s ease-in 10s forwards;
}
#Curtain_6{
    background:rgb(255,255,255);
    animation: CurtainToLeftAndUp 5s ease 15s forwards;
}
#Curtain_8{
    background:rgb(255,255,255);
    animation: CurtainUpAndRight 6s ease 18s forwards;
}
#Curtain_7{
    background: rgb(255,255,255);
    animation: CurtainToRight 5s ease 21s forwards;
}

/* Introduction END */
@media only screen and (max-width: 45rem) { 
  #Introduction h2 {
        font-size: 1rem;
    }
  #Introduction h3 {
        font-size: 0.9rem;
    }
  #Introduction h4 {
        font-size: 0.8rem;
    }
  #RT_navbar{
    opacity: 0;
}
#RT_navbar.rt-show{
    -moz-animation: Fade-in 3s ease-out 7s forwards;
    -webkit-animation: Fade-in 3s ease-out 7s forwards;
    animation: Fade-in 3s ease-out 7s forwards;
}
}
@media only screen and (max-width: 72.25rem) { 
  #Introduction h2 {
        font-size: 1.2rem;
    }
  #Introduction h3 {
        font-size: 1.1rem;
    }
  #Introduction h4 {
        font-size: 1rem;
    }
.navbar-toggler{
    opacity: 0;
}
.navbar-toggler.rt-show{
    -moz-animation: Fade-in 3s ease-out 1s forwards;
    -webkit-animation: Fade-in 3s ease-out 1s forwards;
    animation: Fade-in 3s ease-out 1s forwards;
}
}