@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

<vc:preferred-lang where-lang="CreateTopic"></vc:preferred-lang>

<div class="mt-3">
    <a asp-action="Create" asp-controller="Projects" class="create-project btn btn-success">
        <i class="fas fa-undo-alt"></i> @Localizer["Back"].Value 
    </a>
    <a asp-action="Topics" asp-controller="Projects" asp-route-viewMode="UserTopics" class="btn btn-warning" title="To All My Projects">
        <i class="fas fa-ban"></i>&nbsp;@Localizer["Cancel"].Value
    </a>
</div>

