@{
    ViewData["Title"] = "Create New Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="project_spinner">
    <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div id="create_project_area" class="mt-1">
    <partial name="_TypeOfProject" />
</div>

@section Scripts{
    <environment include="Development">
        <script src="~/js/Project/CreateProjectSteps.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Project/CreateProjectSteps.min.js" asp-append-version="true"></script>
    </environment>
}
