<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:url" content="https://localhost:44337/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Remember Text" />
<meta property="og:description" content="Website for the minde" />
<meta property="og:image" content="@Url.Content("~/images/RememberText.png")" />
<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
 <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
<title>@ViewBag.Title :: Remember Text</title>
<link href="~/rtFavicon.ico" rel="shortcut icon" type="image/x-icon" />